<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Xam.Plugins.Settings" version="1.5.2" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Xamarin.Forms" version="1.4.4.6386" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xamarin.Insights" version="1.10.4.112" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>